<div class="bithirmod inspirationdice">
    {{#each rolls}}
    <div class="inspiration flexrow">
        <div class="dice-rolls">
            <div class="roll {{this.css}}">{{{this.img}}} 
                <div>{{this.tooltip}}</div></div>
        </div>
    </div>
    {{/each}}
</div>