<p>The Bithir's mod pack for the Symbaroum system is both an example on how to mod the Symbaroum system as well as containing utilities that Bithir wants for his game.</p>
<p></p>
<h2>What does the module contain</h2>
<p>The module contains the following additional functionalities:</p>
<ul>
    <li>
        <p>Customised abilities/items</p>
    </li>
    <li>
        <p>Inspirational dice</p>
    </li>
    <li>
        <p>Generate shadow</p>
    </li>
    <li>
        <p>Macros</p>
        <p></p>
    </li>
</ul>
<h2>Customised abilities</h2>
<p>There are a few customised abilities</p>
<p><strong>Berserk @UUID[Item.TS0XiHdZiUF3JYEi]</strong></p>
<p>This works as the normal berserk, except instead of getting +1d4 armor at Adept, you instead get a dice upgrade on your existing armor.</p>
<p><strong>Pack hunter @UUID[Item.IAmBx7tFaYQuvtzG]{Pack hunter}</strong></p>
<p>This ability is a way for character with attack and defense of accurate to take advantage of this attribute without feeling like they are losing out against other character that used it as dump attribute.</p>
<p>This does not yet automatically prompt for the amount of bonuses.</p>
<p><strong>Uncanny Coordination @UUID[Item.6drsU3hI68e9haUV]{Uncanny Coordination}</strong></p>
<p>This ability is a way for character with attack and defense of accurate to take advantage of this attribute without feeling like they are losing out against other character that used it as dump attribute.</p>
<p></p>
<h2>Customised items</h2>
<p>These are used to assist in populating generated NPCs/Monsters as per their various abilities</p>
<p></p>
<h2>Inspirational dice</h2>
<p>The inspirational dice can be used to make rolls for inspiration when creating adventures or scenarios for the players. These are aimed towards Symbaroum, but idea of this is taken from story cubes.</p>
<p>At this time, there are four sets of inspirational dice:</p>
<ul>
    <li>
        <p>Location [dl]</p>
    </li>
    <li>
        <p>Events [de]</p>
    </li>
    <li>
        <p>Creatures [dc]</p>
    </li>
    <li>
        <p>Rewards [dr]</p>
    </li>
</ul>
<p>To use them, you can either use the included macro, or just make the roll using the abbreviation, i.e. '/roll 1dl + 2de + 1dc + 3dr' will roll one location dice, two event dice, one creature dice and 3 reward dice.</p>
<p>There is a macro included, 'Inspiration Roll', which you can decide on how many of each die you can use. It also formats the dice somewhat nicer. See macro list below.</p>
<p></p>
<h2>Generate Shadow</h2>
<p>Allows generation of a PC/NPC/Mosnter shadow.  The shadow colour is loosely based on the Ordo Magica shadow scheme.</p>
<p>The button for this appears on the character sheet menu-bar <i class="fa-solid fa-circle-half-stroke">&nbsp;</i>, which can be configured in the module settings</p>
<p></p>
<h2>Macros</h2>
<p>Currently the mod contains 3 macros</p>
<p><strong>NPC/Monster Generator @UUID[Macro.mNAW5Mrw77dBBlZp]{NPC/Monster Generator}</strong></p>
<p>Can be used to generate random abominations, ambriand or barbarians of different types. It has a small rule engine to generate them, so it is not completely random. See the Bithir's mods <a href="https://github.com/bithir/symbaroum-bithir-mod">github</a> for the code and data that drives it. It generates the NPC/Monster in a folder in the actor catalogue.</p>
<p>It is important to note that this requires abilities, traits, mystical power and items (weapons/armors) to be imported in to the world. It will only make NPC/Monsters with abilities that exists in the world.</p>
<p><strong>Inspirational Roll @UUID[Macro.rDWIgUw0CJh7lfJG]{Inspiration Roll}</strong></p>
<p>This makes a suitable roll and formats it in a nicer chat message, with elaborations on what each die kinda represents. It also tries (it is subject to lag, so sometimes they will go away anyway) to disable automatic dice fading when dice-so-nice, to make the dice go away, just shake them or make another roll.</p>
<p><strong>Thus spoke Aroaleta @UUID[Macro.HdMVGkccCHVyrLAC]{Thus spoke Aroaleta}</strong></p>
<p>This puts a quote of Aroaleta in to the chat window, with reference for story/book and sections. Perhaps nice to let your players see a quote at times, or to give to the barbarian in the party to pull up and recite and times.</p>
<p></p>
<h2>Recommended modules to include</h2>
<ul>
    <li>
        <p>The commercial Symbaroum modules from Free-League</p>
    </li>
    <li>
        <p>Dice-so-nice</p>
    </li>
</ul>
<p></p>
<h2>Credits & Licences</h2>
<div>
    <div>
        <p><strong>Midjourney</strong> images used from the <a href="https://midjourney.gitbook.io/docs/billing">"Non-Paid Members License Terms"</a>, i.e. Creative Commons Noncommercial 4.0 Attribution International License.</p>
    </div>
    <div>
        <p>Images subject to this license are stored under assets/midjourney</p>
    </div>
    <p><strong>Game-icons</strong> images for the Inspirational dice & DsN dice - <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a></p>
</div>