.bithirmod h1 {
    display: block;
}

.form-group.bithirmod .dialogHeader {
    flex-basis: auto;
    flex-direction: row;
    display: flex;    
}

.form-group.bithirmod .dialogEntry {
    width:10em;
    min-width:10em; 
}

.form-group.bithirmod .inspirationInput {
    width:5em;
}
